# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml

# Mac / Windows
.DS_Store
Thumbs.db

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Android signing
*.jks
*.keystore
android/key.properties

# Logs
*.log